*{
    font-family: Arial, 'Verdana', sans-serif;
}

body{
    /*padding-bottom: 70px;*/
}

.barra{
    background-color: #353536;
}

footer{
    background-color: #273396;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}